.card-flip {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 500rem;
  cursor: pointer;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    // transform-style: preserve-3d;
  }

  &--front,
  &--back {
    position: absolute;
    width: 100%;
    height: 100%;
    // backface-visibility: hidden;
  }

  &--back {
    // transform: rotateY(180deg);
  }

  // &:hover &__container {
  //   transform: rotateY(180deg);
  // }

  &--hidden {
    display: none;
  }
}

.rotate {
  transform: rotateY(180deg);
}


