.card-flip {
  display: block;
  width: 100%;
  height: 100%;
  perspective: 60rem;

  &__container {
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  &--front,
  &--back {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &--back {
    transform: rotateY(180deg);
  }
}
